{
	frankenphp
}

appdemo.name frankenphp.appdemo.name {
	tls {
		dns route53 {
			max_retries 10
			profile default
			region eu-west-3
		}
	}
	root * /app/public
	encode zstd br gzip
	php_server
}

localhost {
	root * /app/public
	encode zstd br gzip
	php_server
}
